*.aux
*.dvi
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.tuc
*.xdv

*.timestamp-*.mjs

*.otf
*.ttf
*.woff2
*.pdf

.vitepress/dist
.vscode/
.temp/
cache/
dist/
node_modules/

packages/vitepress-theme/src/styles/katex.css
packages/markdown-it-plugins/dist
packages/markdown-it-plugins/node_modules
packages/markdown-it-plugins/tests
packages/vitepress-plugin-feed/dist
packages/vitepress-plugin-feed/node_modules
packages/vitepress-theme/src/styles/katex.css
packages/vitepress-theme/dist
packages/vitepress-theme/node_modules

doc/
